<main id="main" class="main">
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item">Vms</li>
        </ol>
      </nav>
    </div>
    <section class="section" >
      <div class="row" >
        <div class="col-lg-12" >
          <div class="card">
            <div class="card-body " >
              <p class="text-center small danger" style="color:rgb(182, 111, 111);font-size: 12px;">
                <b></b>
              </p>
              <nav class="navbar navbar-expand-sm" >
                <div class="container-fluid" >
                  <h5 class="card-title ">H1B Employeeinfo List</h5>
                  <div class="navbar-nav sm-auto ">
                    <div class="input-group mb-3">
                      <!-- <h5 class="card-title" [routerLink]="['/excel-upload']" style="cursor:pointer" ><i class="ri-upload-2-fill"></i>Upload</h5> -->
                      &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                      <h5 class="card-title float-right">
                        <a  routerLink="/h1binfo"><i _ngcontent-vqa-c41=""
                            class="bi bi-plus-square-dotted"></i>&nbsp; H1B Employeeinfo</a>
                      </h5>
                      <form class="search-form d-flex align-items-center">
                        &nbsp;&nbsp;<input type="text" name="searchstring" class="form-control" placeholder="Search"
                          title="Enter search keyword" aria-label="query">
                      </form>
                    </div>
                  </div>
                </div>
              </nav>
              <div class="row">
                <table class="table table-sm table-light table-bordered table-responsive">
                  <thead class="thead-light">
                    <tr>
                      <th>Name of the Beneficiary</th>
                      <th>Email</th>
                      <th>Consulate/POE</th>
                      <th>Service Center</th>
                      <th>LCA number</th>
                      <th>contact number</th>
                      <th> Current Work Author</th>
                      <th>valid from date</th>
                      <th>valid todate</th>
                      <th >Everify date</th>
                      <th >last date</th>
                      <th >receipt number</th>
                      <th>Notice Type</th>
                      <th >Location</th>
                      <th >Petitioner Singular/Narvee</th>
                    </tr>
                  </thead>
                  <tbody class="tbody">
                    <tr>
                      <td>
                        name
                      </td>
                      <td>Narvee@gmail.com </td>
                      <td>Consulate</td>
                      <td>narvee </td>
                      <td>4565476</td>
                      <td style="width:6%" >
                       +91846587463
                      </td>
                      <td>-</td>
                      <td> 06-04-23</td>
                      <td >06-04-23</td>
                      <td>06-04-23</td>
                      <!-- <td>{{data.client}}</td> -->
                      <td >
                        06-04-23
                        </td>
                      <td  >43654
                      </td>
                      <td  >pending
                     
                      
                      </td>
                      <td style="width:10%" >
                       hyderabad
                      </td>
                      <td style="width:3%" >
                      narvee
                      </td>
                   
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
