


 
<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 d-flex flex-column align-items-center justify-content-center">
                   <!-- <div class="d-flex justify-content-center py-4"> <a href="https://narvee.com/" class="logo d-flex align-items-center w-auto"> 
                      <img width="200px" height="450px" src="assets/img/narvee-logo.png" alt=""> </a></div> -->
                   <div class="card col-lg-6">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Reset Your Password</h5>
                           <div *ngIf="message!==''">
                               <p class="text-center small" ><b class="succes" style="color:rgb(70, 131, 70)">{{message}}</b></p>
                           </div>
                        </div>
                        <form class="row g-3 " [formGroup]="form" (ngSubmit)="registernow()">
                            <div class="col-md-12"> 
                                <!-- <input type="text"  maxlength="50" [(ngModel)]="email" class="form-control "autocomplete="off" 
                                name="email" data-parsley-trigger="change" formControlName="email"  required placeholder="Enter your new Password"/> -->
                                <div class="col-md-12"> <input
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required
                                    name="password" formControlName="password" [(ngModel)]="password" type="password" class="form-control"  placeholder="Enter your new Password"
                                    id="password">
                                 <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Please enter your new Password</div>
                                    <div *ngIf="f.password.errors.pattern">Password should be at between 8 - 15 characters long and should contain one number,one upper and lower case character and one special character</div>

                                 </div>
                               </div>
                            </div>
                            <div class="col-md-12"> 
                                <input name="newpassword" [(ngModel)]="newpassword"
                                    [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }"
                                    formControlName="newpassword" type="password" class="form-control"  placeholder="Confirm your new Password"
                                    id="newpassword">
                                 <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                                    <div *ngIf="f.newpassword.errors.required">Please enter confirm Password</div>
                                    <div *ngIf="f.newpassword.errors.pattern">Password should be at between 8 - 15 characters long and should contain one number,one upper and lower case character and one special character</div>
                                    <!-- <div *ngIf="f.newpassword.errors.pattern">Password should be at between 8 - 15 characters long and should contain one number,one upper and lower case character and one special character</div> -->
                                 </div>
                            </div>
                           <div class="col-12"> <button class="btn btn-primary w-100 text-center " type="submit">Send</button></div>
                        </form>
                     </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>