<main id="main" class="main">
    <div class="pagetitle">
       <!-- <h1>Add New VMS</h1> -->
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
             <li class="breadcrumb-item">Masters</li>
             <li class="breadcrumb-item">City</li>
          </ol>
       </nav>
    </div>
    <section class="section">
       <div class="row">
          <div class="col-md-4">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title"> Update City</h5>
                   <p class="text-center small danger" *ngIf="message!==''" style="color:red"><b>{{message}}</b></p>
                   <form  [formGroup]="form" (ngSubmit)="onSubmit()">
                    <input type="hidden" [(ngModel)]="tech.id" formControlName="id" name="id">
                        <div class="row">
                            <!-- <div class="col-md-12">
                                    <label for="cp_name">City Name  </label>
                                    <input type="text" [(ngModel)]="tech.cityname" maxlength="500" class="form-control rounded-pill"autocomplete="off" 
                                    name="cityname" data-parsley-trigger="change" formControlName="cityname" required [ngClass]="{ 'is-invalid': submitted && f.cityname.errors }"/>
                                    <div *ngIf="submitted && f.cityname.errors" class="invalid-feedback">
                                        <div *ngIf="f.cityname.errors.required">City Name is required</div>
                                    </div>
                                </div> -->
                                <div class="col-md-12">
                                 <label for="totexp" class="form-label"></label>
                                 <ngx-intl-tel-input [(ngModel)]="tech.cityname" mask="(000) 000-000" [cssClass]="'custom'" class="form-control rounded-pill"
                                      [selectFirstCountry]="false"
                                   [maxLength]="10" [phoneValidation]="false"
                                    [separateDialCode]="true" 
                                    formControlName="cityname" [ngClass]="{ 'is-invalid': submitted && f.cityname.errors }"   >
                                 </ngx-intl-tel-input>
                               
                              </div>
                              <!-- <div>
                                 <div class="container mt-2">
                                    <div class="col-md-6">
                                      <p>Mobile</p>
                                      <div class="form-group mt-2 d-inline-block">
                                          <span class="border-end country-code px-2">+60</span>
                                          <input type="text" class="form-control" id="ec-mobile-number" aria-describedby="emailHelp" placeholder="91257888" />
                                      </div>
                                  </div>
                                  </div>
                              </div> -->
                        </div>
                        <div class="form-group text-center" style="margin-top: 20px;padding: 10px;">
                            <a (click)="form.reset()" class="btn btn-warning rounded-pill">Cancel</a>
                            &nbsp;
                            &nbsp;
                            <button type="submit" name="btnSubmit" class="btn btn-info rounded-pill" value="Submit" >Submit</button>
                        </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>