

<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 d-flex flex-column align-items-center justify-content-center">
                   <!-- <div class="d-flex justify-content-center py-4"> <a href="https://narvee.com/" class="logo d-flex align-items-center w-auto"> 
                      <img width="200px" height="450px" src="assets/img/narvee-logo.png" alt=""> </a></div> -->
                   <div class="card col-lg-6">
                    <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Forgot Password</h5>
                           <div>
                              <p class="text-center small" ><b  >We will be Sending a reset password link to registered email</b></p>
                           </div>
                           <div *ngIf="message!==''">
                               <p class="text-center small" ><b class="succes" style="color:rgb(70, 131, 70)">Reset Link sent to registered email </b></p>
                           </div>
                           <div *ngIf="error!==''">
                              <p class="text-center small" ><b class="error" style="color:rgb(111, 32, 32)">{{error}}</b></p>
                          </div>
                        </div>
                        <form class="row g-5 " [formGroup]="form" (ngSubmit)="registernow()">
                            <div class="col-md-12"> 
                                <!-- <label for="cp_name"></label> -->
                                <input type="text"  maxlength="50" [(ngModel)]="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control "autocomplete="off" 
                                name="email" data-parsley-trigger="change" formControlName="email"  required placeholder=""/>
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Please Enter your registered mail</div>
                                    <div *ngIf="f.email.errors.email">Please Enter a Valid Email Address</div>
                                </div>
                            </div>
                           <div class="col-12"> <button class="btn btn-primary w-100 text-center " type="submit">Send</button></div>
                        </form>
                     </div>
                   </div>
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>